// Resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

// Config
@import "config/media.scss";
@import "config/variables.scss";
@import "config/mixins.scss";

// Layout
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "layout/tuning.scss";

// Sections
@import "sections/header.scss";
@import "sections/product.scss";
@import "sections/hamburger-menu.scss";
@import "sections/advantages.scss";
@import "sections/burgers.scss";
@import "sections/team.scss";
@import "sections/menu.scss";
@import "sections/reviews.scss";
@import "sections/delivery.scss";
@import "sections/contacts.scss";
@import "sections/footer.scss";
@import "sections/svg.scss";
@import "sections/navigation.scss";

