// Стилизация страницы Мы лучшие
.advantages {
    text-align: center;
    background: url("../img/background/best_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.advantages__title {
    margin: 55px 0;
    @include gagalin();
    font-size: 72px;
    color: $dark;
}

.advantages__list {
    display: flex;
}

.advantages__item {
    margin: 0 35px;
    flex: 1;
}

// для div оборачивающий svg
// .advantages__pic {
//     height: 90px;
// }
// .advantages__icon {
//     height: 90px;
// }
.advantages__subtitle {
    margin: 40px 0 0 0;
    @include lifehack();
    font-size: 24px;
}

.advantages__text {
    margin: 10px 0 0 0;
    @include ubuntu(light);
    font-size: 14px;
    line-height: 1.8;
}