.burgers {
    background: linear-gradient(180deg,#f9b43b 0, #f3a43a 30%, #eb8c38 40%,#eb8c38 60%, #f3a43a 70%,#f9b43b 100%);

    @include tablets() {
        height: 100%;
    }    
}

.burgers__slider-left {
    position: absolute;
    left: rem(-44px);
    transform: rotate(90deg);
    z-index: 500;

    @include tablets() {
        left: 0;
        bottom: 48.5%;        
    } 
}

.burgers__section {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.burgers__slider-list {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
}

.burgers__slider-item {
    min-width: 100%;
}

.burgers__assortment {
    padding-bottom: rem(88px);
    display: flex;
    width: 100%;

    @include tablets() {
        margin-top: rem(130px);
        flex-direction: column;
        align-items: center;
    }
}

.burgers__container-left {
    position: relative;
    margin-right: rem(29px);

    @include tablets() {
        margin: rem(22px) rem(12px) 0 0;        
    } 
}

.burgers__composition {
    position: absolute;
    display: flex;

    @include tablets() {
        top: rem(-6px);
        left: rem(-12px);
    }

    @include phones() {
        left: rem(4px);
    }
}

.burgers__link {
    padding: rem(10px) rem(23px);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba($orange, .4);
    border-radius: rem(5px);
    text-decoration: none;
    transition: .4s;  

    &:hover {
        background-color: rgba($orange, 1);
        transition: .4s;  
    }
}

.burgers__composition-text {
    @include gagalin();
    font-size: rem(14px);
    color: $white;
    text-transform: uppercase;
}

.burgers__list {
    padding: rem(10px) rem(25px) rem(16px) rem(21px);
    background-color: rgba($white, .9);
    border-radius: rem(5px);
    display: none;
    z-index: 500;   
}

.burgers__link-close {
    position: absolute;
    right: 0;
}

.burgers__item {
    display: flex;
    align-items: center;
    margin-top: rem(6px);
}

.burgers__item-icon {
    margin-right: rem(24px);
}

.burgers__item-text {
    margin-right: auto;
    width: rem(70px);
    @include ubuntu(medium);
    font-size: rem(14px);
}

.burgers__item-weight {
    margin-left: rem(57px);
    @include ubuntu(light);
    font-size: rem(14px);  
}

.burgers__img {
    padding: rem(75px) 0 rem(5px) 0;

    @include tablets() {
        padding: rem(75px) 0 0 0;
    }

    @include phones() {
        padding: rem(85px) 0 0 rem(78px);
        width: 85%;
    }
}

.burgers__calories {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    opacity: .5;

    @include tablets() {
        top: rem(-5px);
        right: rem(-3px);
        left: inherit;
    }
}

.burgers__calories-number,
.burgers__calories-text {
    text-align: center;
    @include gagalin();
    color: $white;
    line-height: 1.6;
}

.burgers__calories-number {
    position: absolute;
    top: rem(22px);
    left: rem(14px);
    font-size: rem(20px);
}

.burgers__calories-text {
    font-size: rem(14px);
}

.burgers__container-right {
    display: flex;
    flex-direction: column;

    @include tablets() {
        align-items: center;
    }
}

.burgers__name {
    @include gagalin();
    font-size: rem(72px);
    color: $white;
    line-height: .9;

    @include tablets() {
        padding: rem(40px) rem(119px) 0 rem(100px); 
        text-align: center;
        letter-spacing: rem(2px);
    }

    @include phones() {
        padding: rem(40px) 0;         
        font-size: rem(50px);
    }
}

.burgers__text {
    margin-top: rem(36px);
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
    line-height: 1.7;

    @include tablets() {
        margin-top: 0;
        padding: rem(25px) rem(65px) 0 rem(65px);
        text-align: center;
    }

    @include phones() {
        padding: 0;
    }
}

.burgers__delivery {
    margin-top: rem(10px);

    @include tablets() {
        margin-top: 0;
        padding: 0 rem(14px) rem(42px) 0;        
    }
}

.burgers__price {
    @include gagalin();
    font-size: rem(72px);
    color: $orange;
}

.burgers__currency {
    margin-right: rem(20px);
    @include gagalin();
    font-size: rem(30px);
    color: $orange;

    @include tablets() {
        margin-right: rem(31px);        
    }
}
.burgers__slider-right {
    position: absolute;
    right: rem(-50px);
    transform: rotate(-90deg);

    @include tablets() {
        right: rem(14px);        
    }
}