.delivery {
    position: relative;
    padding: rem(67px) 0;
    background: url("../img/background/delivery_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.delivery__title {
    // margin-bottom: rem(60px);
    @include gagalin();
    font-size: rem(72px);
    color: $yellow;
    text-align: center;

    @include phones() {
        margin-bottom: 0;
        padding: 0 rem(32px);
        font-size: rem(50px);      
    }
}

.delivery__form {
    padding-top: rem(36px);
    display: flex;

    @include tablets() {
        flex-wrap: wrap;
        width: 70%;
    }

    @include phones() {
        width: 100%;        
    }
}

.delivery__form-left,
.delivery__form-right {
    min-width: 50%;

    @include tablets() {
        width: 100%;
    } 
}

.delivery__form-left {
    margin-right: rem(9px);

    @include phones() {
        margin-right: 0;        
    }
}

.delivery__form-row {
    display: flex;
}

.delivery__label {
    margin-right: rem(18px);

    @include phones() {
        &:first-child {
            margin-left: 0;
        }
    }
}

.delivery__label-first {
    width: 50%;
}

.delivery__label-second {
    width: 100%;
}

.delivery__label-third {
    width: 25%;
}

.delivery__form-title {
    margin-top: rem(18px);
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
}

.delivery__form-input,
.delivery__form-textarea {
    padding: rem(14px);
    margin-top: rem(7px);
    flex: 1;
    width: 100%;
    @include ubuntu(light);
    font-size: rem(14px);
    color: $dark;
    border-radius: rem(5px);
    border: rem(2px) solid transparent;
    
    &:focus {
        border-color: $yellow;
        outline: none;
    }
}

.delivery__form-input {
    height: rem(20px);
}

.delivery__label-textarea {
    width: 100%;
}

.delivery__form-textarea {
    height: rem(111px);
    resize: none;
}

.delivery__form-radio,
.delivery__btns,
.delivery__check {
    display: flex;
    align-items: center;

    @include phones() {
        justify-content: center;
    } 
}

.delivery__form-radio {
    margin: rem(11px) 0 0 rem(-21px);

    @include phones() {
        margin-top: rem(35px);
    } 
}

.delivery__control-choise {
    display: none;
}

.delivery__control-choise:checked+.delivery__btns-fake {
    border: rem(1px) solid $orange;
}

.delivery__control-choise:checked+.delivery__btns-fake::after {
    display: block;
}

.delivery__control-choise:checked+.delivery__btns-fake+.delivery__btns-text {
    color: $orange;
}

.delivery__btns-fake {
    position: relative;
    margin: 0 rem(10px) 0 rem(20px);
    width: rem(15px);
    height: rem(15px);
    background-color: $white;
    border-radius: 50%;
}

.delivery__btns-fake::after {
    content: "";
    position: absolute;
    top: rem(3px);
    left: rem(3px);
    display: none;
    width: rem(7px);
    height: rem(7px);
    background-color: $orange;
    border-radius: 50%;
}

.delivery__btns-text,
.delivery__check-text {
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
}

.delivery__check {
    margin-top: rem(23px);

    @include phones() {
        margin-top: rem(35px);
    } 
}

.delivery__control-choise:checked+.delivery__check-fake::after {
    display: block;
}

.delivery__control-choise:checked+.delivery__check-fake+.delivery__check-text {
    color: $orange;
}

.delivery__check-fake {
    margin: 0 rem(10px) 0 0;
    width: rem(15px);
    height: rem(15px);
    background-color: $white;
}

.delivery__check-fake::after {
    content: "";
    margin: rem(1px) rem(4px);
    display: none;
    width: rem(6px);
    height: rem(11px);
    border: 0 solid $orange;
    border-width: 0 rem(3px) rem(3px) 0;
    transform: rotateZ(45deg);
}

.delivery__control-choise:checked+.delivery__check-fake::after {
    display: block;
}

.delivery__send {
    margin: rem(23px) 0 rem(110px) rem(217px);

    @include tablets() {
        margin-left: rem(-335px);
    }

    @include phones() {
        margin-left: rem(-5px);
    }
}

.delivery__btn {
    min-width: rem(98px);
    padding: rem(10px) rem(15px);
    color: #fff;
    text-decoration: none;
    @include ubuntu(medium);
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    transition: .5s;

    &:hover {
        background-color: $orange;
    }
}