// Стилизация полноэкранного меню
.fullscreen-menu {
    display: none;

    @include tablets() {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;  // Изменить через JS на flex!!!!
        background-color: rgba($dark, .99);
        z-index: 100;
    }
}

.fullscreen-menu__link-close {
    position: absolute;
    top: rem(30px);
    right: rem(20px);
    width: rem(32px);
    height: rem(20px);
}

.fullscreen-menu__nav {
    padding: rem(274px) 0 0 0;
}

.fullscreen-menu__item {
    text-align: center;

    &::before {
        content: "";
        margin: rem(32px) auto;
        display: block;
        @include circle(rem(7px), $white);
    }

    &:first-child::before {
        display: none;
    }
}

.fullscreen-menu__link {
    @include ubuntu(regular);
    font-size: rem(24px);
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    

    &:hover {
        color: $yellow;
    }
}