// Стилизация страницы Меню
.menu {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background: url("../img/background/menu_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu__title,
.menu__subtitle {
    @include gagalin();
    color: $white;
}

.menu__title {
    padding: rem(88px) 0 0 rem(95px);
    font-size: rem(72px);

    @include tablets() {   
        padding: rem(100px) 0 0 rem(9px);     
    }

    @include phones() {   
        font-size: rem(50px);        
    }
}

.menu__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    display: flex;
    height: 100%;

    &.active .menu__accordeon {
        display: block;
    }

    &.active .menu__subtitle {
        bottom: rem(130px);
        color: $yellow;
        transition: .5s;
    }
}

.menu__container {
    position: relative;
    height: 100%;
    width: rem(80px);
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
}

.menu__container_meat {
    background-image: url("../img/menu/meat.jpg");
    background-position: 77% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__container_vegetarian {
    background-image: url("../img/menu/vegetarian.jpg");
    background-position: 90% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__container_dietary {
    background-image: url("../img/menu/dietary.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__subtitle {
    display: flex;
    white-space: nowrap;
    font-size: rem(40px);
    transform: rotate(-90deg);

    &:hover {
        color: $yellow;        
        transition: .4s;
    }
}

.menu__subtitle_meat,
.menu__subtitle_vegetarian,
.menu__subtitle_dietary {
    bottom: calc(50% - 23px);
}

.menu__subtitle_meat {
    position: absolute;
    left: rem(-92px);
    // bottom: calc(50% - 23px);
}

.menu__subtitle_vegetarian {
    position: absolute;
    left: rem(-107px);
}

.menu__subtitle_dietary {
    position: absolute;
    left: rem(-80px);
}

.menu__accordeon {
    padding: rem(60px) rem(37px) 0 rem(35px);
    display: none;
    width: rem(540px);
    min-height: rem(650px);
    background-color: rgba($dark, 0.93);
}

.menu__text {
    margin: 0;
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
    line-height: 2;  
}