.nav {
    position: fixed;
    top: rem(90px);
    right: rem(50px);

    @include tablets() {
        display: none;
    }
}

.nav__item {
    margin-bottom: rem(10px);
}

.nav__link {
    position: relative;
    display: block;
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: rem(6px);
        height: rem(6px);
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 50%;
    }

    &:hover {
        border: rem(1px) solid $white;
        border-radius: 50%;
        transition: .4s;
    }
}

.nav__link_active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid $white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}