// Стилизация первой страницы
.product {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background: url("../img/background/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product__content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    @include tablets() {
        flex-flow: row wrap;
        margin-top:rem(54px);
    }
}

.product__burger,
.product__text {
    flex-basis: 50%;
    align-items: center;
}

.product__burger {
    padding-right: rem(10px);
    width: 70%;    

    @include tablets() {
        padding-right: 0;
    }
}

.product__text {
    margin-top: rem(65px);

    @include tablets() {
        margin: 0 0 rem(160px) 0;
        text-align: center;
    }
}

.product__text_title {
    margin: 0;
    @include gagalin();
    font-size: rem(72px);
    color: $yellow;
    
    @include tablets() {
        margin-top: rem(30px);
    }

    @include phones() {
        font-size: rem(63px);
    }
}

.product__text_subtitle {
    @include lifehack();
    font-size: rem(65px);
    line-height: 1;
    color: $white;

   @include phones() {
        font-size: rem(54px);
    }
}

.product__link {
    position: absolute;
    bottom: 5%;
    right: 50%;
    transition: .2s;

    &:hover {
        .product__arrow-scroll {
            margin-top: rem(-15px);
            width: rem(40px);
            height: rem(25px);
        }
    }
}