// Стилизация первой страницы
.product {
    position: relative;
    display: flex;
    // justify-content: flex-start;
    background: url("../img/background/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product__content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    @include tablets() {
        margin-top:rem(125px);        
        flex-flow: row wrap;
    }

    @include phones() {
        margin-top:rem(80px);        
    }
}

.product__burger,
.product__text {
    flex-basis: 50%;
    align-items: center;
}

.product__burger {
    margin-bottom: rem(122px);
    margin-left: rem(16px);
    padding-right: rem(14px);
    width: 70%;    

    @include tablets() {
        margin: 0 rem(18px) 0 0;    
        padding-right: 0;
    }
}

.product__text {
    margin-bottom: rem(115px);

    @include tablets() {
        margin: rem(21px) rem(28px) rem(220px) 0;
        text-align: center;
    }
}

.product__text_title {
    margin: 0;
    @include gagalin();
    font-size: rem(72px);
    color: $yellow;

    @include tablets() {
        margin-bottom: rem(11px);
        font-size: rem(77px);    
    }

    @include phones() {
        font-size: rem(63px);
    }
}

.product__text_subtitle {
    @include lifehack();
    font-size: rem(65px);
    line-height: 1;
    color: $white;

   @include phones() {
        font-size: rem(54px);
    }
}

.product__link {
    position: absolute;
    bottom: 7%;
    left: calc(50% - 16px);
    transition: .2s;

    &:hover {
        .product__arrow-scroll {
            width: rem(35px);
            height: rem(17px);
            fill: $yellow;
            transition: .3s;            
        }
    }

    @include tablets() {
        bottom: 4%;
        left: calc(50% - 24px);    
    }
}