// Стилизация страницы с отзывами
.reviews {
    background-color: $dark;
    height: 100vh;
}

.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    position: relative;
    width: 25%;
    height: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    
    &:hover .reviews__hover {
        transform: scale(1);
        transition: .8s;
        opacity: 1;
    }

    @include tablets() {
        width: 50%;
        height: 25%;
    }
}

.reviews__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem(25px) rem(14px) rem(50px) rem(20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba($dark, .7);
    transform: scale(.5);
    opacity: 0;

    @include tablets() {
        align-items: center;
        text-align: center;
    }    
}

.reviews__title {
    margin: rem(18px) 0;
    @include gagalin();
    font-size: rem(14px);
    color: $white;

    @include phones() {   
        font-size: rem(20px);        
    }
}

.reviews__text,
.reviews__popup-text {
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
    line-height: rem(24px);

    @include tablets() {
        margin: 0;
        text-align: center;
    }

    @include phones() {   
        display: none;        
    }
}

.reviews__link {
    padding: rem(8px) rem(15px);
    margin-top: rem(15px);
    @include ubuntu(medium);
    font-size: rem(13px);
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    border-radius: rem(5px);
    background-color: $dark;
    transition: .4s;

    &:hover {
        background-color: darken($dark, 10%);
    }

    @include tablets() {
        margin: 0;
    }

    @include phones() {   
        margin-top: rem(25px);        
    }
}

.reviews__popup {
    display: none;
    width: rem(461px);
    height: rem(270px);
    padding: rem(30px) rem(20px);
    border-radius: rem(5px);

    @include phones() {   
        width: rem(334px);
        height: rem(340px);    
    }
}

.reviews__popup-title {
    margin-bottom: rem(20px);
    @include gagalin();
    font-size: rem(14px);
    color: $dark;
}

.reviews__popup-text {
    color: $dark;
    text-align: left;
    display: block;
}

.fancybox-close-small {
    top: rem(18px);
    right: rem(5px);
    
    &::after {
        color: rgba($orange, .6);
        transition: .5s;
        transform-origin: rem(15px) rem(15px);

        @include phones() {   
            transform-origin: rem(18px) rem(18px);     
        }
    }

    &:hover::after {
        color: rgba($orange, 1);
        background-color: #fff;    
        transform: rotate(90deg);
    }

    &:focus:after {
        outline: none;
    }
}
