// Стилизация svg
.fullscreen-menu__close {
    width: rem(32px);
    height: rem(20px);
    fill: #c2c2c3;
    transition: .5s;
    transform-origin: rem(8px) rem(8px);

    &:hover {
        fill: $yellow;
        transform: rotate(90deg);
    }
}

.product__arrow-scroll,
.burgers__slider-btn {
    width: rem(33px);
    height: rem(15px);
    fill: $white;
    transition: .3s;
}

.advantages__icon {
    width: rem(100px);
    height: rem(90px);
}

.meat {
    fill: $orange;
}

.hand {
    fill: $yellow;    
}

.natural {
    fill: $green;    
}

.burgers__composition-icon {
    width: rem(45px);
    height: rem(55px);
    fill: $white;    
}

.burgers__item-icon {
    width: rem(45px);
    height: rem(45px);
}

.beef {
    fill: $orange;
}

.buns {
    fill: $yellow;
}

.salad {
    fill: $green;    
}

.sauce{
    fill: $orange;
}

.cucumber {
    fill: $green;    
}

.cheese{
    fill: $yellow;
}

.burgers__calories-quantity {
    width: rem(60px);
    height: rem(60px);
    fill: $white;
}


.burgers__link-icon {
    width: rem(20px);
    height: rem(20px);
    fill: rgba($orange, .6);
    transition: .5s;
    transform-origin: rem(7px) rem(7px);

    &:hover {
        fill: rgba($orange, 1);        
        transform: rotate(90deg);
    } 
}

.footer__icon {
    width: rem(11px);
    height: rem(11px);
    fill: $orange;
}

.footer__socials-icon {
    margin-left: rem(20px);
    width: rem(20px);
    height: rem(20px);
    fill: #585858;
    transition: .4s;

    &:hover {
        fill: $white;
        transition: .4s;
    }
}