// Стилизация страницы Команда
.team {
    position: relative;
    background: url("../img/background/team_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.team__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 rem(90px) rem(36px) rem(76px);
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(#343739, 0.93);
    
    @include tablets() {   
        align-items: center;       
        width: 100%;
    }
}

.team__title {
    display: flex;
    align-items: center;
    color: $yellow;    
    @include gagalin();
    font-size: rem(72px);
    line-height: 1;

    @include tablets() {
        font-size: rem(76px);        
    }

    @include phones() {   
        font-size: rem(50px);        
    }
}

.team__list {
    margin-top: rem(74px);

    @include tablets() {
        margin-top: rem(53px);        
    }
}

.team__item {
    margin-bottom: rem(31px);
    
    &.active {
        .team__accordion {
            height: rem(126px);

            @include tablets() {
                height: rem(220px);
            }                
        }
        
        .team__name {
            color: $yellow;

            &:before {
                transform: rotate(180deg);
            }
        }
    }
    
    @include tablets() {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

.team__name {
    // padding-top: rem(35px);
    display: flex;
    align-items: center;
    @include gagalin();
    font-size: rem(14px);
    color: $white;
    cursor: pointer;

    &::before {
        content: "";
        margin-right: rem(10px);
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-top-color: $yellow;
        border-bottom: none;
    }

    &:hover {
        color: $yellow;
        transition: .3s;
    }

    @include tablets() {
        @include gagalin();
        font-size: rem(26px);
    }
}

.team__accordion {
    display: flex;
    overflow: hidden;
    height: 0;
    transition: .5s;

    @include tablets() {
        display: flex;
        text-align: center;
    }
}

.team__container {
    padding: rem(13px) 0 rem(10px) rem(17px);
    display: flex;

    @include tablets() {
        flex-direction: column;
        align-items: center;
        padding: rem(16px) 0 0 0;    
    }
}

.team__photo {
    position: relative;
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
}

.team__img {
    position: absolute;
    top: 50%;
    left: 47%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.team__about {
    margin-left: rem(22px);
    display: flex;
    flex-direction: column;
    width: rem(223px);
    height: rem(98px);

    @include tablets() {
        margin: 0;
        width: rem(350px);
    }
}

.team__specialty {
    @include ubuntu(bold);
    font-size: rem(14px);
    color: $white;

    @include tablets() {
        padding-top: rem(15px);
    }
}

.team__text {
    margin: 0;
    padding-top: rem(10px);
    @include ubuntu(light);
    font-size: rem(14px);
    color: $white;
    line-height: 1.8;

    @include tablets() {
        margin-top: rem(3px);
    }
}