.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #585858;
  width: 20px;
  height: 20px; }
  .icon:hover {
    fill: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
